@charset "utf-8";
#sidebar {
    background-color: #2FA4E5;
    height: 140%;
    text-align: right;
	
}

/* CSS Document */


@media screen and (max-width:769px){
	
	#farmlogo{
    width: 100%;
    height: 100%;
    font-size: 14px;
		
	}
	#logobox{
		
		display: none;
		
	}
	#adImage{
		
		height: 95%;
		background-color: #4376FF;
	}
	#pig{
		
		float:left;	
		
	}
	arcticle{
		
	padding-left:20px;
	margin:auto;
		
	}
}
@media screen and (min-width:770px){
	
	#farmlogo{
    width: 30%;
    height: 30%;
    font-size: 14px;
	position:sticky;
	top:0;
		
	}
	#logobox{
		
	display:block;
	margin:auto;
		
	}
	#sidebar{
		
		width:110%;
		
	}
}

#pig{
    position: sticky;	
	top:20px;
	
	
}
h1{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}
#authorInfo{
    background-color: #000000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	
	
}
ul {
    list-style: none;
    text-decoration: none;
    text-decoration-color: black;
    color: #000000;
	padding-left: 20;
	padding-bottom: 0px;
}
header{
	
	margin:auto;
	
}
.title{
	
	text-align: center;
	
}
#ad{
	text-align: center;
	width: 150px;
	background-color:#235AED;
}
#report {
    width: 100%;
    padding-bottom: 19px;
    border-radius: 10px;
    margin: auto;
    background-color: aqua;
}
